* * * * * bash /home/centos/dev/jrvs/bootcamp/linux_sql/host_agent/scripts/host_usage.sh localhost 5432 host_agent postgres password > /tmp/host_usage.log
Filesystem     1K-blocks    Used Available Use% Mounted on
devtmpfs         3738004       0   3738004   0% /dev
tmpfs            3746056   35552   3710504   1% /dev/shm
tmpfs            3746056    8696   3737360   1% /run
tmpfs            3746056       0   3746056   0% /sys/fs/cgroup
/dev/sda2       33337392 7066552  26270840  22% /
/dev/sda1         204580   11440    193140   6% /boot/efi
tmpfs             749212       4    749208   1% /run/user/1000
overlay         33337392 7066552  26270840  22% /var/lib/docker/overlay2/183a68cce5ac1f2d22f717ab90a90b542b9a5d740b56585d8b3dc608c0b06104/merged
You have new mail in /var/spool/mail/centos
Filesystem      Size  Used Avail Use% Mounted on
devtmpfs        3.6G     0  3.6G   0% /dev
tmpfs           3.6G   35M  3.6G   1% /dev/shm
tmpfs           3.6G  8.5M  3.6G   1% /run
tmpfs           3.6G     0  3.6G   0% /sys/fs/cgroup
/dev/sda2        32G  6.8G   26G  22% /
/dev/sda1       200M   12M  189M   6% /boot/efi
tmpfs           732M  4.0K  732M   1% /run/user/1000
overlay          32G  6.8G   26G  22% /var/lib/docker/overlay2/183a68cce5ac1f2d22f717ab90a90b542b9a5d740b56585d8b3dc608c0b06104/merged
Filesystem      Size  Used Avail Use% Mounted on
devtmpfs        3.6G     0  3.6G   0% /dev
tmpfs           3.6G   35M  3.6G   1% /dev/shm
tmpfs           3.6G  8.5M  3.6G   1% /run
tmpfs           3.6G     0  3.6G   0% /sys/fs/cgroup
/dev/sda2        32G  6.8G   26G  22% /
/dev/sda1       200M   12M  189M   6% /boot/efi
tmpfs           732M  4.0K  732M   1% /run/user/1000
overlay          32G  6.8G   26G  22% /var/lib/docker/overlay2/183a68cce5ac1f2d22f717ab90a90b542b9a5d740b56585d8b3dc608c0b06104/merged
Filesystem      Size  Used Avail Use% Mounted on
sysfs              0     0     0    - /sys
proc               0     0     0    - /proc
devtmpfs        3.6G     0  3.6G   0% /dev
securityfs         0     0     0    - /sys/kernel/security
tmpfs           3.6G   35M  3.6G   1% /dev/shm
devpts             0     0     0    - /dev/pts
tmpfs           3.6G  8.5M  3.6G   1% /run
tmpfs           3.6G     0  3.6G   0% /sys/fs/cgroup
cgroup             0     0     0    - /sys/fs/cgroup/systemd
pstore             0     0     0    - /sys/fs/pstore
efivarfs           0     0     0    - /sys/firmware/efi/efivars
cgroup             0     0     0    - /sys/fs/cgroup/perf_event
cgroup             0     0     0    - /sys/fs/cgroup/net_cls,net_prio
cgroup             0     0     0    - /sys/fs/cgroup/freezer
cgroup             0     0     0    - /sys/fs/cgroup/cpu,cpuacct
cgroup             0     0     0    - /sys/fs/cgroup/hugetlb
cgroup             0     0     0    - /sys/fs/cgroup/devices
cgroup             0     0     0    - /sys/fs/cgroup/blkio
cgroup             0     0     0    - /sys/fs/cgroup/memory
cgroup             0     0     0    - /sys/fs/cgroup/cpuset
cgroup             0     0     0    - /sys/fs/cgroup/pids
configfs           0     0     0    - /sys/kernel/config
/dev/sda2        32G  6.8G   26G  22% /
selinuxfs          0     0     0    - /sys/fs/selinux
systemd-1          0     0     0    - /proc/sys/fs/binfmt_misc
debugfs            0     0     0    - /sys/kernel/debug
mqueue             0     0     0    - /dev/mqueue
hugetlbfs          0     0     0    - /dev/hugepages
/dev/sda1       200M   12M  189M   6% /boot/efi
tmpfs           732M  4.0K  732M   1% /run/user/1000
overlay          32G  6.8G   26G  22% /var/lib/docker/overlay2/183a68cce5ac1f2d22f717ab90a90b542b9a5d740b56585d8b3dc608c0b06104/merged
proc               -     -     -    - /run/docker/netns/815834e33055
Filesystem     1M-blocks  Used Available Use% Mounted on
devtmpfs           3651M    0M     3651M   0% /dev
tmpfs              3659M   35M     3624M   1% /dev/shm
tmpfs              3659M    9M     3650M   1% /run
tmpfs              3659M    0M     3659M   0% /sys/fs/cgroup
/dev/sda2         32557M 6901M    25656M  22% /
/dev/sda1           200M   12M      189M   6% /boot/efi
tmpfs               732M    1M      732M   1% /run/user/1000
overlay           32557M 6901M    25656M  22% /var/lib/docker/overlay2/183a68cce5ac1f2d22f717ab90a90b542b9a5d740b56585d8b3dc608c0b06104/merged
You have new mail in /var/spool/mail/centos
procs -----------memory---------- ---swap-- -----io---- -system-- ------cpu----- -----timestamp-----
 r  b   swpd   free   buff  cache   si   so    bi    bo   in   cs us sy id wa st                 UTC
 1  0      0 5373796   2200 1071744    0    0    12     6  123  225  1  0 99  0  0 2021-02-26 02:25:23
gh
